{% extends "orders/base.html" %}

{% block title %}
Pizza
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Store Hours</div>

            <div class="card-body">
                <p>Our phone numbers are 617-876-4897 or 617-876-0012</p>

                <p>Our fax number is 617-661-6188</p>

                <p>Find us on Twitter @PinocchiosPizz</p>

                <p>And Instagram @pinocchiospizza1</p>

                <p>Our mailing address is:</p>

                <p>Pinocchio's Pizza<br>
                74 Winthrop Street<br>
                Cambridge, MA 02138</p>
                <p>If you have any questions or comments or would like to get on our email list you can email us at <a href="mailto:pinocchiospizza1@gmail.com">pinocchiospizza1@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}