{% extends "orders/base.html" %}

{% block title %}
Pizza
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Store Hours</div>

            <div class="card-body">
                <p>Sunday	1 pm - 12 midnight </p>
                <p>Monday - Thursday	11 am - 1 am</p>
                <p>Friday - Saturday	11 am - 2:30 am*</p>
                <p>******* Important note March 17th, 2020--- we will be closing every night at 11:00 pm until further notice.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}